<label for="name">Name</label>
<input ng-model="model.widgetName"
       type="text"
       class="form-control"
       placeholder="HTML Name"
       id="name"
       required>

<label for="text">HTML</label>
<text-angular
        ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
        ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
        ['indent','outdent'],['html']]"
        ng-model="model.widgetText"
        type="text"
        place-holder="html content"
        id="text">
</text-angular>
<a ng-show="model.widget" ng-click="model.deleteWidget()" class="btn btn-danger btn-block">Delete</a>

<!--<div>-->
    <!--<div class="form-group">-->
        <!--<label for="headerName">Name</label>-->
        <!--<input ng-model="model.widgetName" type="text" id="headerName" class="form-control" placeholder="HTML Snippet Name">-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<label for="headerText">HTML</label>-->
        <!--<textarea ng-model="model.widgetText" id="headerText" class="form-control" placeholder="HTML Code" rows="6"></textarea>-->
    <!--</div>-->
    <!--<a ng-show="model.widget" ng-click="model.deleteWidget()" class="btn btn-danger btn-block">Delete</a>-->
<!--</div>-->