<form>
    <div class="form-group">
        <label for="headerName">Name</label>
        <input ng-model="model.widgetName" type="text" id="headerName" class="form-control" placeholder="HTML Snippet Name">
    </div>
    <div class="form-group">
        <label for="headerText">HTML</label>
        <textarea ng-model="model.widgetText" id="headerText" class="form-control" placeholder="HTML Code" rows="6"></textarea>
    </div>
    <a ng-show="model.widget" ng-click="model.deleteWidget()" class="btn btn-danger btn-block">Delete</a>
</form>