<form>
    <div class="form-group">
        <label for="imageName">Name</label>
        <input ng-model="model.widgetName" type="text" id="imageName" class="form-control" placeholder="Image Name">
    </div>
    <div class="form-group">
        <label for="imageText">Text</label>
        <input ng-model="model.widgetText" type="text" id="imageText" class="form-control" placeholder="Image Text">
    </div>
    <div class="form-group">
        <label for="url">URL</label>
        <input ng-model="model.widgetUrl" type="url" id="url" class="form-control" placeholder="Image URL">
    </div>
    <div class="form-group">
        <label for="width">Width</label>
        <input ng-model="model.widgetWidth" type="text" id="width" class="form-control" placeholder="Image Width">
    </div>
    <div class="form-group">
        <label for="upload">Upload</label>
        <input type="file" id="upload" class="form-control" placeholder="Image Upload">
    </div>
    <a href="#" class="btn btn-primary btn-block">Upload</a>
    <a ng-show="model.widget" ng-click="model.deleteWidget()" class="btn btn-danger btn-block">Delete</a>
</form>