<div>
    <div class="form-group">
        <label for="youtubeName">Name</label>
        <input ng-model="model.widgetName" type="text" id="youtubeName" class="form-control" placeholder="YouTube Name">
    </div>
    <div class="form-group">
        <label for="youtubeText">Text</label>
        <input ng-model="model.widgetText" type="text" id="youtubeText" class="form-control" placeholder="YouTube Text">
    </div>
    <div class="form-group">
        <label for="url">YouTube Embed URL</label>
        <input ng-model="model.widgetUrl" type="url" id="url" class="form-control" placeholder="YouTube Embed URL">
    </div>
    <div class="form-group">
        <label for="width">Width</label>
        <input ng-model="model.widgetWidth" type="text" id="width" class="form-control" placeholder="YouTube Width">
    </div>
    <a ng-show="model.widget" ng-click="model.deleteWidget()" class="btn btn-danger btn-block">Delete</a>
</div>