<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="hidden-xs col-sm-4">
            <div class="navbar-text pull-left" id="left-chevron">
                <a href="#!/user/{{model.uid}}/website">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-header pull-left">
                <a class="navbar-brand" href="#">
                    Websites
                </a>
            </div>
            <div class="navbar-text pull-right" id="plus-sign">
                <a href="#">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8">
            <div class="navbar-text pull-left visible-xs" id="hidden-left-chevron">
                <a href="#!/user/{{model.uid}}/website">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-header pull-left">
                <a class="navbar-brand" href="#">
                    Edit Website
                </a>
            </div>
            <div class="navbar-text pull-right">
                <a ng-click="model.updateWebsite()">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="row container-fluid">
    <div class="hidden-xs col-sm-4" id="websiteListArea">
        <ul class="list-group">
            <li ng-repeat="website in model.websites" class="list-group-item">
                <a href="#!/user/{{website.developerId}}/website/{{website._id}}/page">{{website.name}}</a>
                <a href="#!/user/{{website.developerId}}/website/{{website._id}}">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
            </li>
        </ul>
    </div>

    <div class="col-xs-12 col-sm-8 pull-right">
        <form>
            <div ng-show="model.error" class="alert alert-danger" role="alert">{{model.error}}</div>
            <div class="form-group">
                <label for="textInput">Website Name</label>
                <input ng-model="model.websiteName" type="text" id="textInput" class="form-control" placeholder="Website Name">
            </div>
            <div class="form-group">
                <label for="textArea">Website Description</label>
                <textarea ng-model="model.websiteDescription" id="textArea" class="form-control" rows="6" placeholder="Website Description"></textarea>
            </div>
            <a ng-click="model.deleteWebsite()" class="btn btn-danger btn-block">Delete</a>
        </form>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text row" id="bottom-navbar-row">
            <div class="col-xs-12">
                <a href="#!/user/{{model.uid}}" class="pull-right" id="bottom-user-icon">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>