<h1 ng-show="widget.size === undefined || widget.size === null">{{widget.text}}</h1>
<h1 ng-show="widget.size === 1">{{widget.text}}</h1>
<h2 ng-show="widget.size === 2">{{widget.text}}</h2>
<h3 ng-show="widget.size === 3">{{widget.text}}</h3>
<h4 ng-show="widget.size === 4">{{widget.text}}</h4>
<h5 ng-show="widget.size === 5">{{widget.text}}</h5>
<h6 ng-show="widget.size === 6">{{widget.text}}</h6>

<a href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/{{widget._id}}">
<span class="glyphicon glyphicon-cog overlay-pull-right"></span>
</a>


<!--<li ng-repeat="widget in model.widgets" class="list-group-item" style="position: relative">-->
    <!--<h1>Seattle</h1>-->
    <!--<a href="#!/widget-heading.view.client">-->
        <!--<span class="glyphicon glyphicon-cog overlay-pull-right"></span>-->
    <!--</a>-->
<!--</li>-->
<!--<li class="list-group-item">-->
    <!--<h4>-->
        <!--The element is removed from the normal document flow; no space is created for the element in the page layout. Instead, it is positioned relative to its closest positioned ancestor if any; otherwise, it is placed relative to the initial containing block. Its final position is determined by the values of top, right, bottom, and left. This value creates a new stacking context when the value of z-index is not auto. Absolutely positioned boxes can have margins, and they do not collapse with any other margins.-->
    <!--</h4>-->
    <!--<a href="#!/widget-heading.view.client">-->
        <!--<span class="glyphicon glyphicon-cog overlay-pull-right"></span>-->
    <!--</a>-->
<!--</li>-->
<!--<li class="list-group-item">-->
    <!--<img src="../../resource/Seattle.jpg">-->
    <!--<a href="#!/widget-image.view.client">-->
        <!--<span class="glyphicon glyphicon-cog overlay-pull-right"></span>-->
    <!--</a>-->
<!--</li>-->
<!--<li class="list-group-item">-->
    <!--<div class="youtube-container">-->
        <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/92ISlO9U-84" frameborder="0" allowfullscreen></iframe>-->
    <!--</div>-->
    <!--<a href="#!/widget-youtube.view.client">-->
        <!--<span class="glyphicon glyphicon-cog overlay-pull-right"></span>-->
    <!--</a>-->
<!--</li>-->