<div>
    <div class="form-group">
        <label for="headerName">Name</label>
        <input ng-model="model.widgetName" type="text" id="headerName" class="form-control" placeholder="Header Name">
    </div>
    <div class="form-group">
        <label for="headerText">Text</label>
        <input ng-model="model.widgetText" type="text" id="headerText" class="form-control" placeholder="Header Text">
    </div>
    <div class="form-group">
        <label for="headerSize">Size</label>
        <input ng-model="model.widgetSize" type="number" id="headerSize" class="form-control" placeholder="Header Size">
    </div>
    <a ng-show="model.widget" ng-click="model.deleteWidget()" class="btn btn-danger btn-block">Delete</a>
</div>