<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-xs-12 col-sm-12">
            <div class="navbar-text pull-left" id="left-chevron">
                <a href="#!/user/{{model.uid}}/website/{{model.wid}}/page">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-header pull-left">
                <a class="navbar-brand" href="#">
                    Widgets
                </a>
            </div>
            <div class="navbar-text pull-right" id="plus-sign">
                <a href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/new">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="row container-fluid">
    <div class="col-xs-12 col-sm-12" id="websiteListArea">
        <ul class="list-group">
            <li ng-repeat="widget in model.widgets" class="list-group-item" style="position: relative">
                <!--{{widget.widgetType}}-->
                <!--<ng-include src="'views/widget/include.html'"></ng-include>-->
                <div ng-switch="widget.widgetType">
                    <div ng-switch-when="HEADING">
                        <div ng-include="'views/widget/heading/widget-heading.view.client.html'"></div>
                    </div>
                    <div ng-switch-when="IMAGE">
                        <div ng-include="'views/widget/image/widget-image.view.client.html'"></div>
                    </div>
                    <div ng-switch-when="YOUTUBE">
                        <div ng-include="'views/widget/youtube/widget-youtube.view.client.html'"></div>
                    </div>
                    <div ng-switch-when="HTML">
                        <div ng-include="'views/widget/html/widget-html.view.client.html'"></div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text row" id="bottom-navbar-row">
            <div class="col-xs-12">
                <a href="#!/user/{{model.uid}}" class="pull-right" id="bottom-user-icon">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>